@model DBWT_Paket_5.Models.Benutzer

@{
    ViewBag.Title = "Login";
}

<p>Hallo @Session["name"], Sie sind angemeldet als @Session["role"]</p>
<form action="/Login/Logout" method="post">
    <button type="submit" class="form-control logoutbutton">Abmelden</button>
</form>