
@model DBWT_Paket_5.Models.Register

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <h1>Sie haben sich erfolgreich registriert!</h1>
        <p>Bevor Sie sich allerdings anmelden können, muss Ihr Konto noch aktiviert werden. Dies kann noch ein wenig Zeit in Anspruch nehmen</p>

        <button type="button" class="button2">@Html.ActionLink("Zurück zur Startseite", "Index", "Home")</button>

    </div>
    <div class="col-md-4"></div>
</div>
